body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 60px 70px
}
 .logo{
    color: white;
    font-size: 24px;
 }

.header-links{
    display: flex;
    margin: 0;
    gap: 40px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.header,
.footer{
    background-color: #1f2937;
}

 .container-one{
    background-color: #1f2937;
    padding: 10px 70px 60px 70px;
    display: flex;
}

h1{
    font-weight: 900;
    font-size: 48px;
}

.callToAction{
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
}

.hero{
    width: 400px;
    color:white;
    font-size: 18px;
}

.container-two{
    background-color: white;
    padding: 10px 70px 60px 70px
}

.container-three{
    background-color: #e5e7eb;
    padding: 10px 70px 60px 70px
}

.container-four{
    background-color: white;
    padding: 10px 70px 60px 70px
}

img {
    max-height: 400px;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}